.sidebarRow__icon {
    color: #606060;
    font-size: large !important;
}

.sidebarRow__avatar {
    height: 24px !important;
    width: 24px !important;
}

.sidebarRow__title {
    flex: 1;
}