.sidebar>hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar__heading {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    color: #606060;
}