.videoCard {
    margin-bottom: 40px;
    width: 270px;
}

.videoCard__thumbnail {
    position: relative;
}

.videoCard__duration {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.videoCard>img {
    height: 140px;
    width: 250px;
}